{% extends "base.html" %}
{% block content %}
<h2 class="s-abstract-title">
    {{title}}
    <a href=""></a>
</h2>


<button class="btn btn-xs btn-default-flat s-toggle-aff" id="toggle-aff">Show affiliations</button>

<div id="authors-and-aff" class="s-authors-and-aff">
    <ul class="list-inline">
    {% for author in authors %}
        <li class="author"><a href="{{affiliation_link}}">{{author}}</a><span class="affiliation hide"> (<i>{{affiliation}}</i>)</span>;</li>
    {% endfor %}
    </ul>
</div>

<div class="s-abstract-text">
    <h4 class="sr-only">Abstract</h4>
    <p>
        {{abstract}}
    </p>
</div>

<br>
<dl class="s-abstract-dl-horizontal">

    <dt>Publication</dt>
    <dd>
        <div id="article-publication">{{article_pub}}</div>
    </dd>

    <dt>Pub Date:</dt>
    <dd>{{pub_date}}</dd>

    <dt>DOI:</dt>
    <dd>
        <span>
            <a href="{{doi_link}}" target="_blank" rel="noopener">{{doi}}</a>
            <i class="fa fa-external-link"></i>
        </span>
    </dd>

    <dt>Bibcode</dt>
    <dd>{{bibcode}}<i class="icon-help" data-toggle="popover" data-content="The bibcode is assigned by the ADS as a unique identifier for the paper." data-original-title="" title=""></i></dd>
    <dt>Permalink:</dt>
    <dd>
      <a href="{{permalink}}">
        <div class="sr-only">Permalink to abstract</div>
        <i class="fa fa-link"></i>
      </a>
    </dd>

    <div id="keywords">
        <dt>Keywords</dt>
        <dd>
            <ul class="list-inline">
                <li>{{keywords}}</li>
            </ul>
        </dd>
    </div>



</dl>
{% endblock %}
